modules = ["nodejs-20"]
run = "npm run dev"

[workflows]

[[workflows.workflow]]
name = "run"
mode = "sequential"
author = 40728203

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["sh", "-c", "npm run dev"]

[nix]
channel = "stable-24_05"
